{% extends 'base.html' %}
{% block title %}Cars{% endblock  %}
{% block content %}

<h1 class="title pt-5">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'car_list' %}">Clear Search</a>
</form>
<div class="gallery">
  {% for Cars in Cars %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{Cars.img}}" alt="{{Cars.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{Cars.name}}</p>
        {% if Cars.vintage_car %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Vintage</span>
  </div>
  {% endif %}
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Cars Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}