{% extends 'base.html' %}
{% block title %}Cars{% endblock  %}
{% block content %}

<h1 class="title pt-5">Trending Cars</h1>
<div class="gallery">
  {% for Cars in Cars %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{Cars.img}}" alt="{{Cars.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{Cars.name}}</p>
        {% if Cars.vintage_car %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Vintage</span>
  </div>
  {% endif %}
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Cars Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}